<!DOCTYPE html PUBLIC "-/W3C/DTD XHTML 1.0 Transitional/EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>IMAS EDM</title>
</head>

<body style="font-family: 'Arial', sans-serif;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 600px;">
    <tbody>
      <tr>
        <td valign="top" width="600"><img
            src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/images/imas/imas-masthead.jpg" width="600"
            style="display: block;" /></td>
      </tr>
      <tr>
        <td valign="top" width="600">
          <p>
            Date: 28th February 2022
            <br><br>
            Dear {{first_name}},
            <br><br>
            <b><u>IMAS-Bloomberg Investment Conference 2022 - Meal Selection</u></b>
            <br><br>
            Thank you for registering for the IMAS-Bloomberg Investment Conference 2022 on 9 March 2022 from 10.00 am to
            5.00 pm SGT, held at The Ritz-Carlton, Millenia Singapore, 7 Raffles Avenue Singapore 039799.
            <br><br>
            Please click on this <a href="https://nowevents.online/imas-bloomberg-menu-selection-page/">link</a> to
            indicate your meal selection/ We would be grateful for your confirmation no
            later than 2 Mar, 10am.
            <br><br>
            If you require any assistance, please send us an email at <a
              href="mailto:imashelpdesk@ascendcom.com.sg">imashelpdesk@ascendcom.com.sg</a>.
            <br><br>
            We look forward to welcoming you on 9 March!
            <br><br>
            <b>Safe Management Measures (Please read)</b>
            <br><br>
            Please be reminded of the safe management measures that will be implemented during the in-person event. All
            in-person attendees are required to comply with these requirements.
            <br><br>
            1. <b>Vaccination Status – All attendees are to ensure that they are fully vaccinated</b>
            <br>
            2. Masks must be worn at all times except when dining
            <br>
            4. Check in and Check out at the SafeEntry System
            <br>
            5. Social Distancing of 1 metre apart
            <br>
          <ul>
            <li>
              Registration will open from 9 am. We seek your co-operation and patience at the at the registration
              counter due to the time taken for the above safe measures procedures to be carried out. Please stay at
              least 1 metre away from each other at all times.
            </li>
            <li>
              Maintain at least one meter distance between fellow attendees and avoid intermingling across zones
            </li>
          </ul>
          <br>
          See you soon.
          <br><br><br>
          Best Regards,
          <br>
          IMAS Secretariat
          <br>
          Tel: +65 6223 9353
          <br>
          Email: <a href="mailto:conference@imas.org.sg">conference@imas.org.sg</a>
          </p>
        </td>
      </tr>
      <tr>
        <td valign="top" width="600"><img
            src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/images/imas/imas-footer.png" width="200"
            style="display: block;" /></td>
      </tr>
    </tbody>
  </table>

</body>

</html>